body {
  margin:0px;
  background-color:rgba(105, 177, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Alegreya SC Bold', 'Alegreya SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:400px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Alegreya SC Bold', 'Alegreya SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Alegreya SC Bold', 'Alegreya SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:453px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Alegreya SC Bold', 'Alegreya SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:268px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:73px;
  width:268px;
  height:268px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:42px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:341px;
  width:140px;
  height:32px;
  display:flex;
  font-family:'Alegreya SC Bold', 'Alegreya SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:373px;
  width:189px;
  height:15px;
  display:flex;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
